<main class="main">
    <h1 class="title">{{data.title}}</h1>
    
    <section class="section">
    {{#each data.body}}
        {{#if title}}
        <h2 class="title">{{content}}</h2>
        
        {{else if param}}
        <p class="param">{{content}}</p>
        
        {{else if list}}
        <ul class="list">

            {{#each content}}
            <li>{{this}}</li>
            {{/each}}

        </ul>
        
        {{/if}}
    {{/each}}
        <div class="back-services">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=+34620392467&text=Hola">
                <button>Reservar por WhatsApp</button>
            </a>
            <a href="/services/">
                <button>Volver a Servicios</button>
            </a>
        </div>
    </section>
</main>